@page "/"

@inject ConfigurationService ConfigurationService
@inject PresetService PresetService
@inject SetupGenerator SetupGenerator

<div class="container">
@if (config == null)
{
    <div class="row">
        <div class="col-12">
            <em>Loading...</em>
        </div>
    </div>
}
else if (setup == null)
{
    <EditForm Model=@config OnValidSubmit="GenerateSetupAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        @if(Error != null) 
        {
            <div>
                <label class="validation-message">@Error</label>
            </div>
        }

        <div class="row">
            <div class="col-12">
                <Panel>
                    <Header>
                        Presets
                    </Header>
                    <Body>
                        <PresetDropdown></PresetDropdown>
                    </Body>
                </Panel>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <Panel>
                    <Header>
                        Player Count
                    </Header>
                    <Body>    
                        <InputNumber class="numeric-2" @bind-Value=config.Players/>
                    </Body>
                </Panel>
            </div>
            <div class="col-4">
                <Panel>
                    <Header>
                        Difficulty <Tooltip Text="Select the difficulty range of the game you want to play">?</Tooltip>
                    </Header>
                    <Body>
                        <span>Min<InputNumber class="numeric-2" @bind-Value=config.MinDifficulty/></span>
                        <span>Max<InputNumber class="numeric-2" @bind-Value=config.MaxDifficulty/></span>
                    </Body>
                </Panel>
            </div>

            <div class="col-6">
                <CascadingValue Value="config.Expansions" Name="Group">
                    <SelectableGroup T=Expansion ItemClass="col-6 col-6-sm" />
                </CascadingValue>
            </div>

            <div class="col-12">
                <Panel>
                    <Header>
                        Options <Tooltip Text="Each of these options can be configured as Allow, Block or Force. Allow means it might be used when randomising the game setup. Block means it will not be used. Force means it will be used">?</Tooltip>
                    </Header>
                    <Body>
                        <div class="container slim">
                            <div class="row slim">
                                <div class="col-6">
                                    <span>Second Adversary Chance (0-100%) <InputNumber class="numeric-3" @bind-Value=config.CombinedAdversariesChance/></span>
                                    <Tooltip Text="Control the addition of a second adversary in combination with the first. This is an additional setup option described in the Jagged Earth rule book. It suggests that the second adversary contributes 50%-75% of its full difficulty. We need a definite figure, so 60% is used. This is then rounded to the nearest whole number.">?</Tooltip>
                                </div>
                                <div class="col-6">
                                    <span>Additional Board Chance (0-100%) <InputNumber class="numeric-3" @bind-Value=config.AdditionalBoardChance/></span>
                                    <Tooltip Text="Controls the addition of an extra board. This is an additional setup option described in the Jagged Earth rule book. It suggests the extra board adds rougly '+2 at difficulty 0, +3 at difficulty 3 and +4 at difficulty 6'. To be precise, the algorithm used here adds 2 for difficulty <= 1, 3 for difficulty <= 4 and 4 otherwise.">?</Tooltip>
                                </div>
                                <div class="col-6">
                                    <InputSelect @bind-Value="@config.RandomThematicBoards" >                            
                                        @foreach (var choice in Enum.GetValues(typeof(OptionChoice)))
                                        {                                
                                            <option value="@choice">@choice</option>
                                        }
                                    </InputSelect> Random Thematic Boards <Tooltip Text="The thematic boards have specific recommended boards for each number of players in order to provide the 'definitive' experience. This option allows you to fully randomise selection of thematic boards (with the caveat that invalid combinations such as West + North East will not be selected). This can result in a very 'swingy' game dependent on the invader cards you draw.">?</Tooltip>
                                </div>
                                <div class="col-6">
                                    <InputSelect @bind-Value="@config.ImbalancedArcadeBoards" >                            
                                        @foreach (var choice in Enum.GetValues(typeof(OptionChoice)))
                                        {                                
                                            <option value="@choice">@choice</option> 
                                        }
                                    </InputSelect> Imbalanced Arcade Boards <Tooltip Text="Certain boards that come with Jagged Earth are recommended not to be used with specific other boards for games using <= 4 boards. This website respects that recommendation by default, but changing this option to Allow or Force will ignore it and allow imbalanced arcade boards to be selected together. This can result in a slightly 'swingy' game dependent on the invader cards you draw.">?</Tooltip>
                                </div>
                                <div class="col-6">
                                    <InputSelect @bind-Value="@config.Aspects" >                            
                                        @foreach (var choice in Enum.GetValues(typeof(OptionChoice)))
                                        {                                
                                            <option value="@choice">@choice</option> 
                                        }
                                    </InputSelect> Aspects <Tooltip Text="Control the selection of aspects en-masse with this option. Allow gives you full control. Block means only the base aspect will ever be selected. Force means that the base aspect will never be selected.">?</Tooltip>
                                </div>
                            </div>
                        </div>
                    </Body>
                </Panel>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 @config.SpiritsPanelClass">
                <CascadingValue Value="config.Spirits" Name="Group">
                    <SelectableGroup T=Spirit />
                </CascadingValue>
                <InputText placeholder="Spirit to Add" @bind-Value="newSpirit"></InputText>
                <button type="button" @onclick="AddSpirit">Add Homebrew Spirit</button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6 @config.MapsPanelClass">
                <CascadingValue Value="config.Maps" Name="Group">
                    <SelectableGroup T=Map />
                </CascadingValue>
            </div>
            <div class="col-6 @config.BoardsPanelClass">
                <CascadingValue Value="config.Boards" Name="Group">
                    <SelectableGroup T=Board ItemClass="col-4 col-4-sm" />
                </CascadingValue>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 @config.ScenariosPanelClass">
                <CascadingValue Value="config.Scenarios" Name="Group">
                    <SelectableGroup T=Scenario />
                </CascadingValue>
            </div>
        </div>

        <div class="row">
            <div class="col-12 @config.AdversariesPanelClass">
                <CascadingValue Value="config.Adversaries" Name="Group">
                    <SelectableGroup T=Adversary ItemClass="col-3 col-6-sm" />
                </CascadingValue>
            </div>
        </div>

        <ValidationSummary />
        @if(Error != null) 
        {
            <div>
                <label class="validation-message">@Error</label>
            </div>
        }

        <div class="row">
            <div class="col-12">
                <button type="submit">
                    Generate
                </button>
            </div>
        </div>
    </EditForm>
} 
else
{
    <CascadingValue Value="setup" Name="Setup">
        <ShowSetup />
    </CascadingValue>

    <div class="row">
        <div class="col-12">
            <button @onclick="ClearSetup">
                Edit Setup
            </button>
            <button @onclick="GenerateSetupAsync">
                Re-Generate
            </button>
        </div>
    </div>
}
</div>

@code {
    private OverallConfiguration config;
    private SetupResult setup;
    private string Error;
    private string newSpirit;

    private const string StorageName = "si-randomizer-config";
    private const string StorageNamePresets = "si-randomizer-presets";
    private const string StorageNamePresetPrefix = "si-randomizer-config-";
    
    protected override async Task OnInitializedAsync()
    {
        await PresetService.InitialisePresetsAsync();
        config = ConfigurationService.Current;
        // Changing selected expansions will change the visible components for lots of things
        config.Expansions.PropertyChanged += HandlePropertyChanged;
        // Changing selected maps can change the visible boards
        config.Maps.PropertyChanged += HandlePropertyChanged;
        PresetService.RefreshRequired += HandleRefreshRequired; 
    }

    private void HandlePropertyChanged(object sender, System.ComponentModel.PropertyChangedEventArgs args)  
    {
        if(args.PropertyName.EndsWith(nameof(SelectableComponentBase.Selected)))
        {
            InvokeAsync(StateHasChanged);
        }
    }
    private void HandleRefreshRequired(object sender, EventArgs args)  
    {
        InvokeAsync(StateHasChanged);
    }

    protected async Task GenerateSetupAsync()
    {
        Error = null;
        await PresetService.SaveCurrentConfigurationAsync();
        try
        {
            setup = SetupGenerator.Generate(config);
        } 
        catch(SiException ex)
        {
            Error = ex.Message;
        }
    }

    protected void ClearSetup()
    {
        setup = null;
    }

    /// <summary>
    /// Create a new homebrew spirit and add it to the list.
    /// </summary>
    private void AddSpirit()
    {
        if(string.IsNullOrWhiteSpace(newSpirit) == false &&
            config.Spirits.HasChild(newSpirit) == false)
        {
            var spirit = new Spirit(newSpirit, config, config.Expansions[Expansion.Homebrew], Complexity.Unspecified);
            spirit.Deletable = true;
            config.Spirits.Add(spirit);
        }
    }
}



